@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Regular.eot');
	src: local('../fonts/Gilroy/GilroyRegular'), local('../fonts/Gilroy/Gilroy-Regular'),
	url('../fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
	url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
	url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Bold.eot');
	src: local('../fonts/Gilroy/GilroyBold'), local('../fonts/Gilroy/Gilroy-Bold'),
	url('../fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
	url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
	url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Semibold.eot');
	src: local('../fonts/Gilroy/GilroySemibold'), local('../fonts/Gilroy/Gilroy-Semibold'),
	url('../fonts/Gilroy/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy/Gilroy-Semibold.woff2') format('woff2'),
	url('../fonts/Gilroy/Gilroy-Semibold.woff') format('woff'),
	url('../fonts/Gilroy/Gilroy-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Medium.eot');
	src: local('../fonts/Gilroy/GilroyMedium'), local('../fonts/Gilroy/Gilroy-Medium'),
	url('../fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
	url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
	url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
