$font-gilroy: 'Gilroy', sans-serif;
$font-inter: 'Inter', sans-serif;

$color-white: #fff;
$color-black: #000;
$color-primary: #9D097C;
$color-primary-hover: #CD1BA5;
$color-text: #32334C;
$color-sand: #F6EEE8;
$color-nebula: #C6D9DD;
$color-pink: #FA9397;
$color-pink-2: #FFF0F5;

$desktop: 1024;
$tablet: 768;
$mobile: 375;
